<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form action="/map" method="POST">
      <div id="map" style="width: 500px; height: 400px"></div>
      <script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a4a758b850a6e1b634ab1f422b4475a1"
      ></script>
      <script>
        var container = document.getElementById("map"); //지도를 담을 영역의 DOM 레퍼런스
        var currentPosition = new kakao.maps.LatLng(value);

        var options = {
          //지도를 생성할 때 필요한 기본 옵션
          center: new kakao.maps.LatLng(value), //지도의 중심좌표.
          level: 3, //지도의 레벨(확대, 축소 정도)
        };
        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
        var marker = new kakao.maps.Marker({
          map: map,
          position: currentPosition,
          title: "현재 위치",
          clickable: true,
        });
        // 마커를 지도에 표시합니다.
        marker.setMap(map);

        // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = '<div style="padding:5px;">현재 위치</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
          iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
          content: iwContent,
          removable: iwRemoveable,
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, "click", function () {
          // 마커 위에 인포윈도우를 표시합니다
          infowindow.open(map, marker);
        });
      </script>
    </form>
  </body>
</html>
