<html>

<head>
    <style>
        @media only screen and (max-device-width:480px) and (min-device-width:320px) {
            div {
                width: 100%;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    </style>
</head>

<body>
    <div>
        <p align ="center">
            <img src="./static/css/nothere.png"/>
        </p>
    </div>
</body>

</html>