<html>

<head>
    <style>
        @media only screen and (max-device-width:480px) and (min-device-width:320px) {
            div {
                width: 100%;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    </style>
</head>

<body>
    <div>
        <p>
            <b>즉시 견인 구역에 해당하는 구역</b>
            소화전 5m 이내<br />
            점자블록을 가리거나 가릴 위험이 있는 위치<br />
            교차로 인근에 위치
        </p>
    </div>
</body>

</html>